*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.card-section{
    background-color: white ;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}
.img-div img{
    width: 100%;
    justify-content: center;
}